name: ai_cicd_bouquet

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Remove git files locally
        run: rm -rf .git .github .gitignore

      - name: Upload to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "."
          target: "/home/${{ secrets.EC2_USER }}/fastapi"
          overwrite: true
          use_insecure_cipher: true

      - name: Install & Restart
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          use_insecure_cipher: true
          script: |
            cd /home/${{ secrets.EC2_USER }}/fastapi

            echo "OPENROUTER_API_KEY=${{ secrets.OPENROUTER_API_KEY }}" > .env

            python3 -m venv venv
            source venv/bin/activate

            pip install -r requirements.txt || true
            pip install fastapi uvicorn requests python-dotenv python-multipart

            pkill -f "uvicorn" || true

            nohup uvicorn main:app --host 0.0.0.0 --port 8000 > /dev/null 2>&1 &
            
            sleep 3
            exit 0